.nav-page .nav-item .navpage-link{font-family: 'BebasNeue';font-weight: 400;font-size: 16px;color:#000000;margin: 20px 20px 8px 20px;}
.nav-page .nav-item .navpage-link1{font-family: 'BebasNeue';font-weight: 400;font-size: 16px;color: #000000;margin: 8px 20px 8px 20px;}
.searach-black-icon{display: flex;}
.searach-white-icon{display: none;}


/* PAGE NOT FOUND SECTION STARTS  */

         .error-container{max-width: 400px; margin: 0 auto;}
         .error_img{width: 100%; padding: 80px 10px 40px 10px;}
         .pagenotfound{padding: 80px 0px 70px 0px;}
         .error-contant{padding: 20px 0px 40px 0px;}
         .page{padding: 5px 10px 5px 10px;margin: 0px;}
         .page-para{padding: 5px 10px 5px 10px;}
         .btn-homepage{background: #00794C;font-family: 'BebasNeue';font-weight: 400;font-size: 16px;text-align: center;color: #FFFFFF;margin: 0 auto;}
         .homepagebtn{display: flex;max-width: 340px;padding: 20px 0px 20px 0px;}

/* PAGE NOT FOUND SECTION STARTS */