/* BLOG DETAIL BANNER SECTION STARTS */
.blogdetailbanner-sec{ padding: 80px 0px 40px 0px;}
.blogdetail_bannerimg{padding: 10px 10px 10px 20px;height:478px;}

/* BLOG DETAIL BANNER SECTION ENDS */
.nav-page .nav-item .navpage-link{font-family: 'BebasNeue';font-weight: 400;font-size: 16px;color:#000000;margin: 20px 20px 8px 20px;}
.nav-page .nav-item .navpage-link1{font-family: 'BebasNeue';font-weight: 400;font-size: 16px;color: #000000;margin: 8px 20px 8px 20px;}
.nav-page .nav-item .navpage-link2{font-family: 'BebasNeue';font-weight: 400;font-size: 16px;color: #000000;margin: 20px 0px 8px 0px;}
.btn-subscribe, .btn-subscribe:hover, .btn-subscribe:focus {color: #000;}
.searach-black-icon{display: flex;}
.searach-white-icon{display: none;}

.downarrow-blackimg{display: block;}
.downarrow-whiteimg{display: none;}
.customize-support.scroll-up .header .collapse-bg-color .downarrow-whiteimg{display: block;}
.customize-support.scroll-up .header .collapse-bg-color .downarrow-blackimg{display: none;}


/* CATEGOTY SECTION STARTS */

.socailicon1{margin: 0px 10px 0px 10px;}
.published-socialicon{display: flex;justify-content:space-between;padding: 20px 0px 20px 20px;max-width: 1030px;}
.category-detail{font-family: 'Lato';font-weight: 400;font-size: 16px;color: #000000;}
.lorem-detail{font-family: 'Lato';font-weight: 700;font-size: 24px;color: #000000;max-width: 445px;padding: 20px 0px 20px 20px;}
.lorempara-detail{padding: 0px 0px 20px 20px;font-family: 'Lato';font-weight: 400;font-size: 16px;color: #000000;max-width: 1029px;}
.blogdetailcategory_img{margin: 0 auto;padding: 20px 10px 40px 10px;display: flex;}
.sit{padding: 0px 10px 10px 10px;max-width: 1029px;}
.associated-container{max-width: 1240px;margin: 0 auto;padding: 15px 15px 15px 15px;}
.associated-blogs{font-family: 'BebasNeue'!important;font-weight: 400;font-size: 42px;color: #002399;padding: 30px 5px 30px 1px;margin: 0;}
.associate-sec{padding: 40px 0px 40px 0px;}
.card-deck{padding: 15px 15px 15px 15px;}
.blogdetailcategor-container{max-width: 1029px;}
.loadmoreimg{margin: 0px 10px 0px 10px;}
/* CATEGOTY SECTION ENDS */