.nav-page .nav-item .navpage-link{font-family: 'BebasNeue';font-weight: 400;font-size: 16px;color:#000000;margin: 20px 20px 8px 20px;}
.nav-page .nav-item .navpage-link1{font-family: 'BebasNeue';font-weight: 400;font-size: 16px;color: #000000;margin: 8px 20px 8px 20px;}
.nav-page .nav-item .navpage-link2{font-family: 'BebasNeue';font-weight: 400;font-size: 16px;color: #000000;margin: 20px 0px 8px 0px;}
.btn-subscribe, .btn-subscribe:hover, .btn-subscribe:focus {color: #000;}
.searach-black-icon{display: flex;}
.searach-white-icon{display: none;}

.downarrow-blackimg{display: block;}
.downarrow-whiteimg{display: none;}
.customize-support.scroll-up .header .collapse-bg-color .downarrow-whiteimg{display: block;}
.customize-support.scroll-up .header .collapse-bg-color .downarrow-blackimg{display: none;}

/* FEATURED SECTION CSS STARTS */
    
.featured-sec{padding: 60PX 0PX 40PX 0PX;}
.featured{font-family: 'BebasNeue'!important;font-weight: 400;font-size: 42px;color: #002399;padding: 30px 5px 30px 1px;margin: 0;}
.btn:focus {box-shadow: none;}
/* .btn:hover {
    color: #002399;
} */
/* FEATURED SECTION CSS ENDS */



