/* *********************TYPOGRAPY******************************* */
*{margin:0; padding:0; box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box; }
*:after,*:before{box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
table { border-collapse:collapse; border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal; font-weight:normal; }
ol,ul { list-style:none;}
caption,th {text-align:left;}
q:before,q:after {content:'';}
abbr,acronym { border:0;}
.clear{clear:both; font-size:1px;line-height:1px; display:block; height:0;}
.clearfix:after{content:"";display:block;clear:both;}
.last   {margin:0 !important;}
.pad_last{padding:0 !important;}
.no_bg {background:none !important;}
.no_bor{border:0 none !important; }
header,nav,section,article,aside,footer,hgroup,figure {display: block; }
/**************************************************************************************/
a {color:#000; text-decoration:none; outline:0 none !important; }
a:hover, a:focus {color:#000;  text-decoration:none; outline:0 none !important;}
h1 {font-size:240px; color: #EBEBEB; font-weight: 400; font-family: 'BebasNeue';}
h2 {font-size:32px;  color: #000000; font-weight: 700; font-family: 'Lato';}
h3 {font-size:28px; color: #454545; font-weight: 700; font-family: 'Lato';}
h4{font-size:20px; color: #000000; font-weight: 400; font-family: 'Lato';}
h5 {font-size:18px; color: #000000; font-weight: 400; font-family: 'Lato';}
h6 {font-size:16px; color: #000000; font-weight: 400; font-family: 'Lato';}

/*---------------------------------------------------*/
html {}
body {color: #000000;  font-size:16px; background:#FFFFFF; width: 100%!important;  line-height: 0!important;    font-family: 'Lato';}
 html, body {max-width: 100%; overflow-x: hidden;}
/*-----------LayOut Start here-----------------------*/
.wrapper{margin:0 auto;position: relative; overflow: hidden;padding-top: 100px;}
.container{max-width:1171px; margin:0 auto;}
p{font-size: 16px; font-weight: 400; color: #454545; line-height: 25px; margin-bottom: 0;}
.font-sans{
     font-family: 'Lato';
}
/* *********************TYPOGRAPY ENDS******************************* */


/* *************************STYLING STARTS HERE*************************************** */
/* FONTS */
@font-face {
    font-family: 'Lato';
    src: url('../fonts//Lato//Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/Bebas_Neue/BebasNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



/* Header section starts */

.header-logo{font-family: 'BebasNeue';font-style: normal;font-weight: 400;font-size: 40px;text-align: center;color: #FFFFFF;}
.header-logo:hover{color: #FFFFFF;}    
.padding-three{padding: 5px 0 0 0;}
.nav-page .nav-item .navpage-link{font-family: 'BebasNeue';font-weight: 400;font-size: 16px;color: #fff;margin: 20px 20px 8px 20px;}
.nav-page .nav-item .navpage-link1{margin: 8px 20px 8px 20px;}
.nav-page .nav-item .navpage-link2{font-family: 'BebasNeue';font-weight: 400;font-size: 16px;color: #fff;margin: 20px 0px 8px 0px;}
.nav-page .nav-item .dropdownicon{margin: 15px 0px 8px 0px;}
.dropdown-toggle::after {display: none;}
.dropdown-name{padding: 20px 10px 20px 25px;}
.dropdown-menu{background: #FFB514;}
.btn-padding{ margin: 8px 20px 8px 20px;}
.btn-subscribe, .btn-subscribe:hover, .btn-subscribe:focus{background: #00794C;   color: #FFFFFF; font-family: 'BebasNeue'; font-weight: 400;font-size: 16px;padding: 7px 20px 7px 20px !important;box-shadow: none;}
.navpage-link:hover {color: #FFFFFF;}
header{position: fixed;width: 100%;z-index: 1000;}
header{transition:  0.3s;}
.scroll-down header{background-color: #fff;box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,.075);transition:  0.4s;transform: translate3d(0, -100%, 0);}
.scroll-down .header-logo{color: #000;}
.scroll-up .header{background: rgba(7, 7, 7, 0.6);}
.scroll-up .header-logo{color: #000;}
/* .scroll-down .nav-page .nav-item .navpage-link{color: #000;}
.scroll-down .nav-page .nav-item .navpage-link1{color: #000;}
.scroll-down .nav-page .nav-item .navpage-link2{color: #000;} */
.searach-black-icon{display: none;}
.scroll-down .searach-white-icon{display: none;}
.scroll-down .searach-black-icon{display: block;}

.navbar-toggler.collapsed {display: block;}
.navbar-toggler{z-index: 10000;}
.zindex1000{z-index: 1000;}

/* Header section ends */

.thin_line{background: #DADADA;height: 2px;width: 267px;align-self: center;margin: 0px 0px 6px 15px;}

/* FEATURED SECTION STARTS */
    .category{color: #454545;}
    .featured_img{width: 100%;padding: 0PX 0PX 20PX 0PX;height: 374px;}
    .read-more{padding: 20px 0px 20px 0px;color: #002399;font-size: 16px;font-weight: bold;}
    a:hover, a:focus { color: #002399;}
    .ac-magna{padding: 20px 0px 20px 0px;
        /* overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3; number of lines to show */
                /* line-clamp: 3; 
        -webkit-box-orient: vertical; */ }
    .lorem-ipsum{font-weight: 700;font-size: 24px;}
    .lorem-ipsumdolor{font-weight: 700;font-size: 18px;padding: 0px 0px 15px 0px; 
        /* display: -webkit-box;
            overflow: hidden;
        -webkit-line-clamp: 3;// number of lines to show
                /* line-clamp: 3; 
        -webkit-box-orient: vertical; */ }
    .featured_img1{width: 100%;height: 145px;}
    .lorem-para{color: #000000; margin: 10px 0px 20px 0px;
        /* display: -webkit-box;
            overflow: hidden;
        -webkit-line-clamp: 3;// number of lines to show
                /* line-clamp: 3; 
        -webkit-box-orient: vertical; */ }
    .cardbg-color{background: #FFF1F0;padding: 30px 15px 40px 15px;}
    .cards{padding: 0px;}
    .view{display: flex;justify-content: end;}
    .view-all{font-weight: 700;font-size: 16px;color: #002399;}
    .card{border: 0;}
    .featured1_img{height: 300px;width: 100%;}
    .card{height: 100%;}
/* FEATURED SECTION ENDS */

/* CATEGORIES SECTION STARTS */
.categories-sec{padding: 40px 0px 70px 0px;}
.categories{font-family: 'BebasNeue'!important;font-weight: 400;font-size: 42px;color: #002399;padding: 30px 5px 30px 1px;margin: 0;}
.combat{background: #FFF1F0;color: #454545;font-weight: 400;font-size: 24px;padding: 10px 10px 10px 10px;}
.combat_img{height: 259px;width: 100%;}
.swiper-slide-container-categories { text-align: center;font-size: 18px;background: #fff;height: 100%;max-width: 600px;margin: auto;display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: block;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;}
.categories-sec .swiper-backface-hidden .swiper-slide {width: 100%!important;margin-right: 30px!important;}
 /* CATEGORIES SECTION EndS */

 /* NEWSLATTER SECTION STARTS  */
        .newslatter-sec{background: #FFB514;box-shadow: 5px 5px 13px rgba(0, 0, 0, 0.12);padding: 40px 0px 40px 0px;}
        .newsletter{font-family: 'Lato';font-weight: 700;font-size: 42px;color: #454545;}
        .email-address{background: transparent!important;border: 1px solid #454545;height:48px;}
        .button{margin: 12px 0px 10px 0px;background: #00794C;font-family: 'BebasNeue';font-weight: 400;font-size: 16px;color: #FFFFFF;padding: 7px 24px 7px 24px;}
        .btn-primary:hover { color: #fff;background-color: #00794C;border-color: #00794C;}
        .btn-primary:focus { color: #fff;background-color: #00794C;border-color: #00794C;}
        .btn-primary {color: #fff;background-color: #00794C;border-color: #00794C;}
        .form-control:focus {color: #495057;background-color: transparent;border-color: #454545;box-shadow: none!important;} 
        .formValidation .has-error .help-block { color: #d06868;font-size: 12px;line-height: 1.1;font-style: italic;margin: 5px;display: block;}
        .btn-primary:disabled {color: #fff;background-color: #00794C;border-color: #00794C;}
        .btn:focus {box-shadow:#00794C!important;}
        .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {background-color: #00794C;border-color: #00794C;}
        .form-group {margin-bottom: 0;}
        .es_subscription_message.success {line-height: initial;}
/* NEWSLATTER SECTION ENDS */


/* Footer section starts */
.footer-bgcolor{background: #454545;padding: 40px 0px 40px 0px;}
.logo-footer{font-family: 'BebasNeue'!important;font-style: normal;font-weight: 400;font-size: 48px;text-align: center;color: #FFFFFF;}
.magna{ font-weight: 400;font-size: 18px;text-align: center;color: #FFFFFF;}    
.footer-contant{max-width: 356px; margin: auto;}
.circleicon{margin: 20px 30px 20px 30px;}
.footer-circleicon{display: flex;justify-content: center;}
.btn:hover {color: #FFFFFF}
.btn-primary:focus{box-shadow: none!important;}
/* Footer section ends */


/* SWIPER SECTION CSS STARTS */
    .swiper-container {width:100%; height:300px; margin:20px auto;}
    .swiper-slide-container {height: 280px;text-align: center;font-size: 18px; background:#fff; margin:auto; display: -webkit-box;display: -ms-flexbox; display: -webkit-flex; display: block; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; padding:40px 10px 10px 10px; border-bottom: 10px solid #002399;}
    .swiper-button-next, .swiper-rtl .swiper-button-prev {right: var(--swiper-navigation-sides-offset,47%) !important;}
    .swiper-button-prev, .swiper-rtl .swiper-button-next {left: var(--swiper-navigation-sides-offset,47%)!important;}
    .swiper-button-prev { top: var(--swiper-navigation-top-offset,120%)!important;}
    .swiper-button-next {top: var(--swiper-navigation-top-offset,120%)!important;}
    .swiper-button-next:after, .swiper-button-prev:after { display: none;}
    .prev_arrow{transform: rotate(180deg);}
    .swiper-backface-hidden .swiper-slide {max-width: 330px!important;width: 100%!important;margin-right: 20px!important;}
/* SWIPER SECTION CSS ENDS */    
html {
    scroll-behavior: smooth;
  }

.load-more{font-family: 'Lato';font-weight: 700;font-size: 18px;color: #002399;}
.load{display: block;text-align: center;}



.header .search-form{ position: absolute;top: 25%;right: -200%;width: 610px;height: 48px;display: flex;align-items: center;border-radius: 10px;overflow: hidden;}
.header .search-form.active{right: 25%;/* transition: .4s linear; */}
.header .search-form.disable{right: -200%;}
.header .qqqq{width: 0;height: 0;}
.header .qqqq.active{ background: #fff;width: 100%;height: 100px;position: absolute;top: 0px;z-index: 1000;/* transition: .4s linear; */}
.header .qqqq.disable{background:none;width: 100%;height: 100px;}
.searchlogo-img{margin: 0px 30px 0px 0px;}
.header .search-form input{width: 100%;background: none;text-transform: none;font-size: 16px;color: #000;padding: 10px 10px 10px 10px;background: #fff;border: 1px solid #454545;outline: none;}
.header .search-form label{font-size: 1.5rem;padding: 10px 10px 10px 10px;color: var(--black);cursor: pointer;margin: 0;}
.close_img{margin: 0px 0px 0px 50px;}


.link-copied{font-size:14px;font-weight:bold;border-radius:5px;color:#000;padding:6px;position:absolute;width:100px;top:-45px;right:0;border:2px solid #3069b3;padding: 10px;}
.copylink-button{position:relative}

.arrow-right{margin: 10px 10px 10px 10px;}

.customize-support.scroll-up .header .collapse-bg-color .navpage-link,.customize-support.scroll-up .header .collapse-bg-color .navpage-link2{
    color:#fff;
}
.customize-support.scroll-up .header .collapse-bg-color .navpage-link,.customize-support.scroll-up .header .collapse-bg-color .btn-subscribe{
    color:#fff;
}

.customize-support.scroll-up .header .collapse-bg-color .searach-white-icon{display: block;}
.customize-support.scroll-up .header .collapse-bg-color .searach-black-icon{display: none;}

.customize-support.scroll-up .header .collapse-bg-color .downarrow-whiteimg{display: block;}
.customize-support.scroll-up .header .collapse-bg-color .downarrow-blackimg{display: none;}

.dropdown-item:hover {background-color: #EDA200;}


.team-logo{
    width: 100%;
    height: 127px;
}
.cursor{cursor: pointer;}