.downarrow-blackimg{display: none;}
.downarrow-whiteimg{display: block;}
.customize-support.scroll-up .header .collapse-bg-color .downarrow-whiteimg{display: block;}
.customize-support.scroll-up .header .collapse-bg-color .downarrow-blackimg{display: none;}

/* NORFOLK SECTION CSS STARTS */
         
    .norfolk-sec{padding: 40px 0px 80px 0px;background: #FFF1F0; }  
    .about{font-family: 'BebasNeue'!important;font-weight: 400;font-size: 42px;color: #002399;padding: 30px 5px 30px 1px;margin: 0;}
    .the-norfolk{ max-width: 388px;}
    .norfolk{display: flex;align-self: center;}
    .norfolk_img{width: 100%;}     
    .score{font-family: 'BebasNeue';font-weight: 400;font-size: 120px;text-align: center;color: #454545;}
    .titans{font-family: 'BebasNeue';font-weight: 400;font-size: 24px;color: #454545;}
    .dropdown-menu{background: #FFB514;}
    /* .swiper-backface-hidden .swiper-slide {max-width: 330px!important;width: 100%!important;margin-right: 30px!important;} */
/* NORFOLK SECTION CSS ENDS */

/* FEATURED SECTION CSS STARTS */
    .featured-sec{padding: 40PX 0PX 40PX 0PX;}
    .featured{font-family: 'BebasNeue'!important;font-weight: 400;font-size: 42px;color: #002399;padding: 30px 5px 30px 1px;margin: 0;}
/* FEATURED SECTION CSS ENDS */

/* EVENTS SECTION STARTS  */
.events-sec{padding: 40px 0px 40px 0px;}
.events{font-family: 'BebasNeue'!important;font-weight: 400;font-size: 42px;color: #002399;padding: 30px 5px 30px 1px;margin: 0;}
/* EVENTS SECTION ENDS  */


/* INDIVIDUAL SECTION STARTS */
.individual-sec{padding: 40px 0px 40px 0px;}
.individual{font-family: 'BebasNeue'!important;font-weight: 400;font-size: 42px;color: #002399;padding: 30px 5px 30px 1px;margin: 0;}
/* INDIVIDUAL SECTION ENDS */

.view{margin: 57px 44px 0px 0px!important;}