/* RESULTS SECTION STARTS  */
    .result-sec{padding: 80px 0px 40px 0px;}
    .result{font-family: 'Lato';font-weight: 500;color: #454545;}
    .team-thrones{font-family: 'Lato';font-weight: 500;color:#002399;}
/* RESULTS SECTION ENDS  */


.nav-page .nav-item .navpage-link{font-family: 'BebasNeue';font-weight: 400;font-size: 16px;color:#000000;margin: 20px 20px 8px 20px;}
.nav-page .nav-item .navpage-link1{font-family: 'BebasNeue';font-weight: 400;font-size: 16px;color: #000000;margin: 8px 20px 8px 20px;}
.nav-page .nav-item .navpage-link2{font-family: 'BebasNeue';font-weight: 400;font-size: 16px;color: #000000;margin: 15px 20px 8px 20px;}
.searach-black-icon{display: flex;}
.searach-white-icon{display: none;}